<div class="alert alert-warning form-inline">
  <% if params[:action] == "new" %>
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
  <% end %>

  <%= simple_form_for(@album, remote: true) do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "名称...", required: true, class: "form-control w300"  %>
    </div>
    <div class="form-group">
      <%#= f.association :tags, collection: @album.tags,  label: false, required: true, 
        label_method: :name, value_method:  :id, input_html: { class: "form-control", id: 'tag_list' } %>
        <%= f.text_field :tag_list,  placeholder: "标签...", id: 'tag_list',  class: "form-control w300 tag_list" %>
      </div>
      <div class="form-group">
        <%= f.text_field :note,  placeholder: "备注...",  class: "form-control w300" %>
      </div>
      <%= f.submit "提交", class: "btn btn-success" %>
    <% end %>
  </div>
  <script type="text/javascript">
    $('.tag_list').selectize({
        delimiter: ',',
        persist: false,
        create: function(input) {
        return {
          value: input,
          text: input
         }
        }
    });
</script>
