<div class="clearfix albums">
  <h1 class="clearfix">
    <span class="pull-left">
      相册
      <span class="red">共<%= @albums.total_entries %>个</span>
    </span>
    <% if can? :create, :album %>
      <%= link_to "新增相册", new_album_path, class: "btn btn-primary pull-right", remote: true %>
    <% end %>
  </h1>
  <%= search_form_for @q do |f| %>
    <table class="table alert alert-info">
      <tr>
        <td class="form-group col-xs-2">
          <%= f.text_field :name_cont, class:"form-control", placeholder: "名称" %>
        </td>
        <td>
          <%= f.submit "查询", class: "btn btn-success" %>
        </td>
      </tr>
    </table>  
  <% end %>
  <div class="ajax-form"></div>
  <table class="table album_table table-striped">
    <thead>  
      <tr>
        <th>名称</th>
        <th>标签</th>
        <th>备注</th>
        <th colspan="3">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <%= render "list", album: album %>
      <% end %>
    </tbody>  
  </table>
  <div class="text-center">
    <%= render partial: "layouts/page", locals: { objects: @albums} %>
  </div>
</div>
