<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">大图</h4>
      </div>
      <div id="show_image">
        <img src='' id="big_image" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="clearfix">
  <%= hidden_field_tag :album_id, params[:id] %>
  <% if user_signed_in? %>
    <h1 class="clearfix">
      <span class="pull-left">
        相册:<%= @album.name %>
      </span>
      <%= link_to "新增照片", 'javascript:void(0)', class: "btn btn-primary pull-right", remote: true, 
        onclick: "$(this).parent().next().toggle()" %>
      </h1>

      <div id="dropbox" style="display:none">
        <span class="message">Drop images here to upload. <br /><i>(they will only be visible to you)</i></span>
      </div>
    <% end %>

    <section class="ff-container">
    <input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked">
    <label for="select-type-all" class="ff-label-type-all">All</label>
    <div class="clr"></div>
    <ul class="ff-items">
      <% @images.each do |image| %>
        <li class="ff-item-type-2">
        <a href="javascript:void(0)">
          <span class="show_note">
            <i class="glyphicon glyphicon-heart pull-left" onclick="ajax_request('<%= images_add_flower_path(id: image.id) %>', 'put')">
              <font id="flower_<%= image.id %>"><%= image.flowers %></font></i>
            <br>
            <div onclick="show_big_img('<%= image.get_style_image('big') %>')">
              <%= image.note %>
            </div>
          </span>
          <%= image_tag image.get_style_image("little")%>
        </a>
        </li>
      <% end %>
    </ul>
    </section>
  </div>
