<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @image.album_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @image.note %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>File name:</strong>
  <%= @image.file_name %>
</p>

<p>
  <strong>File size:</strong>
  <%= @image.file_size %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
